<!-- <h1>Register</h1>
<form action="/signup" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" required>
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
  </div>
  <button type="submit">Register</button>
</form>
<a href="/login">Login</a> -->


<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">

  <div class="container  mt-5 p-5 border rounded bg-light shadow-lg" style="width:35vw;">

    <h2>SignUp</h2>
    <% if (messages.length > 0) { %>
      <p class="text-danger" style="transition: opacity 0.5s ease-in-out;" role="alert" id="flashMessage">
        
          <% messages.forEach(message => { %>
            <%= message %>
          <% }); %>
        
          </p>
    <% } %>
    <form action="/signup" method="post">
      <div class="mb-3">
        <input type="name" class="form-control shadow-sm" placeholder="Name" name="name" required>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control shadow-sm" placeholder="Email" name="email" required>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control shadow-sm" placeholder="Password" name="password" required>
      </div>

      <div class="mb-3">
        <button type="submit" class="btn btn-primary w-100 shadow" id="loginbtn">Signup</button>
      </div>
      <span>Already user? </span><a href="/login">Login</a>
      


  </div>
  </form>
  
  
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  
  
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Page</title>
  <link rel="icon" type="image/x-icon" href="favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body class="bg-light">

  <div class="container  mt-5 p-5 border rounded bg-light shadow-lg" style="width:35vw;">

    <h2>SignUp</h2>
    <% if (messages.length> 0) { %>
      <p class="text-danger" style="transition: opacity 0.5s ease-in-out;" role="alert" id="flashMessage">

        <% messages.forEach(message=> { %>
          <%= message %>
            <% }); %>

      </p>
      <% } %>
        <form id="signup-form" action="/signup" method="post">
          <div class="mb-3">
            <input type="name" class="form-control shadow-sm" placeholder="Name" name="name" id="name" required>
          </div>
          <div class="mb-3">
            <input type="email" class="form-control shadow-sm" placeholder="Email" name="email" id="email" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control shadow-sm" placeholder="Password" name="password" id="password"
              required>
          </div>

          <div class="mb-3">
            <button type="button" class="btn btn-primary w-100 shadow" id="otpBtn" onclick="sendOTP()">Send OTP</button>
          </div>
          <div id="otpContainer"  style="display: none;">
            <!-- <label for="otp-field">Enter OTP</label> -->
            <!-- <div class="otp-field mb-4 d-flex flex-row align-items-center">
              <input type="text" class="mb-2 m-2" id="otp1" style="width: 16%;" required />
              <input type="text" class="mb-2 m-2" id="otp2" disabled style="width: 16%;" required />
              <input type="text" class="mb-2 m-2" id="otp3" disabled style="width: 16%;" required />
              <input type="text" class="mb-2 m-2" id="otp4" disabled style="width: 16%;" required />
              <input type="text" class="mb-2 m-2" id="otp5" disabled style="width: 16%;" required />
              <input type="text" class="mb-2 m-2" id="otp6" disabled style="width: 16%;" required />
            </div> -->
            <div class="mb-3">
              <input type="otp" class="form-control shadow-sm" placeholder="Enter OTP" name="otp" id="otp"
              required>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary w-100 shadow" id="loginBtn">Submit</button>
            </div>
            
           
          </div>
          <span>Already user? </span><a href="/login">Login</a>


  </div>
  </form>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    var name = document.getElementById('name');
    var email = document.getElementById('email');
    var password = document.getElementById('password');
    function checkFieldsFilled() {
    const Name = name.value;
    const Email = email.value;
    const Password = password.value;
    const otpBtn = document.getElementById('otpBtn');
    if (Name && Email && Password) {
      otpBtn.removeAttribute('disabled');
    } else {
      otpBtn.setAttribute('disabled', 'disabled');
    }
  }
  name.addEventListener('input', checkFieldsFilled);
  email.addEventListener('input', checkFieldsFilled);
  password.addEventListener('input', checkFieldsFilled);

    function sendOTP() {
      // You can implement your logic to send OTP here
      // For example, show the OTP input box and change button text
      document.getElementById('name').readOnly = true;
      email.readOnly = true;
      password.readOnly = true;
      document.getElementById('otpBtn').style.display = 'none';
      document.getElementById('otpContainer').style.display = 'block';
      document.getElementById('loginBtn').textContent = 'Submit OTP';
      const form = document.getElementById('signup-form');
      const formData = new FormData(form);
      fetch('http://localhost:3001/sendotp', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          email: formData.get('email'),
        }),
      })
        .then((res) => {
          if (!res.ok) {
            throw new Error(`HTTP error! Status: ${res.status}`);
          }
          return res.json();
        })
        .then((res) => console.log(res))
        .catch((error) => console.error('Error Occurred: ', error));
      //console.log(formData.get('email'));
    }
    
  </script>
  <script>
    const inputs = document.querySelectorAll(".otp-field > input");
    const button = document.querySelector(".btn");

    window.addEventListener("load", () => inputs[0].focus());
    // button.setAttribute("disabled", "disabled");

    inputs[0].addEventListener("paste", function (event) {
      event.preventDefault();

      const pastedValue = (event.clipboardData || window.clipboardData).getData(
        "text"
      );
      const otpLength = inputs.length;

      for (let i = 0; i < otpLength; i++) {
        if (i < pastedValue.length) {
          inputs[i].value = pastedValue[i];
          inputs[i].removeAttribute("disabled");
          inputs[i].focus;
        } else {
          inputs[i].value = ""; // Clear any remaining inputs
          inputs[i].focus;
        }
      }
    });


    inputs.forEach((input, index1) => {
      input.addEventListener("keyup", (e) => {
        const currentInput = input;
        const nextInput = input.nextElementSibling;
        const prevInput = input.previousElementSibling;

        if (currentInput.value.length > 1) {
          currentInput.value = "";
          return;
        }

        if (
          nextInput &&
          nextInput.hasAttribute("disabled") &&
          currentInput.value !== ""
        ) {
          nextInput.removeAttribute("disabled");
          nextInput.focus();
        }

        if (e.key === "Backspace") {
          inputs.forEach((input, index2) => {
            if (index1 <= index2 && prevInput) {
              input.setAttribute("disabled", true);
              input.value = "";
              prevInput.focus();
            }
          });
        }

        // button.classList.remove("active");
        // button.setAttribute("disabled", "disabled");

        // const inputsNo = inputs.length;
        // if (!inputs[inputsNo - 1].disabled && inputs[inputsNo - 1].value !== "") {
        //   button.classList.add("active");
        //   button.removeAttribute("disabled");

        //   return;
        // }
      });
    });
  </script>


</body>

</html>